//Breakpoints
$mobile: 22.5rem;
$tablet: 34.375rem;
$tablet-l: 64rem;
$laptop: 85.375rem;
$desktop: 12rem;
$uhd: 128rem;
//colors
$black: #03030f;
$mustard: #dfb604;
$green: #4d4902;
$olive: #8f7804;
$mocha: #886746;
$brown: #6d4c2d;