@use "/src/scss/helpers/variables" as var;

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-player {
    width: 100%;

    iframe {
        width: 18rem;
        height: 14rem;

        @media(min-width:var.$tablet) {
            width: 40vw;
            height: 20vw;

        }

    }
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.single-spotlight {
    height: 10.5rem;
    width: 10.5rem;
    border-radius: 50px;
    box-shadow:
        0 0 5px var.$yellow,
        0 0 1px var.$yellow,
        0 0 9px var.$yellow,
        0 0 2px var.$yellow,
        0 0 6px var.$yellow,
        0 0 2px var.$yellow,
        0 0 2px var.$yellow,
        0 0 1px var.$yellow;
    overflow-x: scroll;
    transition: all .2s ease-in-out;

    @media(min-width:var.$tablet) {
        height: 15rem;
        width: 15rem;
    }

    &:hover {
        transform: scale(1.1);
        background-color: var.$yellow;
        color: var.$black;

    }

    &__text {
        font-size: 12px;
        position: relative;
        top: 30%;

        h4 {
            font-size: 1.7rem;
            padding-bottom: 1rem;
        }

        @media(min-width:var.$tablet) {
            font-size: 1rem;
            top: 40%;
        }
    }
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}

.image-gallery {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    overflow-x: scroll;
    width: 100vw;
    height: 80vh;
    gap: 1rem;
    padding-left: 3rem;

    @media (min-width:var.$tablet-l) {
        width: 74vw;
    }

    button {
        padding: 1rem;
    }
}

.main-image {
    max-height: 80vh;
    max-width: 80vw;
    padding: .625rem;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
}

.main-image-wrapper {
    position: relative;
    margin: 5vh auto;
}

.modal {
    position: fixed;
    display: flex;
    z-index: 1;
    padding: 5vw 10vw;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 1);

    &__info {
        padding: 2rem;
        font-size: .9rem;

        @media(min-width: var.$tablet-l) {
            font-size: 1.3rem;
        }
    }

    &__title {
        padding: 2rem;
        font-size: 1rem;

        @media(min-width: var.$tablet-l) {
            font-size: 2rem;
        }
    }

    &__image {
        min-width: 10rem;
        min-height: 10rem;
        max-width: 15rem;
        max-height: 15rem;
    }
}

.modal-image-wrapper {
    display: flex;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    align-content: center;
}

.close:hover,
.close:focus {
    transform: scale(1.5);
    color: var.$yellow;
    text-decoration: none;
    cursor: pointer;
}