@use "/src/scss/helpers/variables" as var;

.single-spotlight {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    box-shadow:
        0 0 5px var.$yellow,
        0 0 1px var.$yellow,
        0 0 9px var.$yellow,
        0 0 2px var.$yellow,
        0 0 6px var.$yellow,
        0 0 2px var.$yellow,
        0 0 2px var.$yellow,
        0 0 1px var.$yellow;
    overflow-x: scroll;
    transition: all .2s ease-in-out;

    @media(min-width:var.$tablet) {
        height: 10rem;
        width: 10rem;
    }

    &:hover {
        transform: scale(1.1);

    }

    &__text {
        font-size: 12px;
        position: relative;
        top: 40%;

        @media(min-width:var.$tablet) {
            font-size: 1rem;
        }
    }
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}

.image-gallery {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    overflow-x: scroll;
    width: 100vw;
    height: 80vh;
    gap: 1rem;

    button {
        padding: 1rem;
    }

    @media(min-width: var.$tablet-l) {
        justify-content: center;
    }
}

.main-image {
    max-height: 80vh;
    max-width: 80vw;
    padding: .625rem;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
}

.main-image-wrapper {
    position: relative;
    margin: 10vh auto;
}

.modal {
    position: fixed;
    display: flex;
    z-index: 1;
    padding: 5vw 10vw;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 1);

    &__text {
        padding: 2rem;
        font-size: 3vw;
    }

    &__image {
        max-height: 20vh;
        max-width: 20vw;
        min-height: 10vh;
        min-width: 10vw;
    }
}

.modal-image-wrapper {
    display: flex;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    align-content: center;
}

.close:hover,
.close:focus {
    transform: scale(1.5);
    color: var.$yellow;
    text-decoration: none;
    cursor: pointer;
}