@use "/src/scss/helpers/variables" as var;

.logo {

    svg {
        &:hover {
            transform: scale(1.5);
        }
    }
}

.social-logo {
    svg {
        fill: white;
    }

    &:hover {
        svg {
            fill: white;
        }
    }
}