@use "/src/scss/helpers/variables" as var;

.about {
    display: flex;
    flex-direction: column;
    ;

    &__logo {
        width: 16.5rem;
        margin: 0 auto;
        filter: brightness(87%);
    }

    &__column {
        align-self: center;
        flex-direction: column;
    }

    &__header {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    &__row {
        display: flex;
        flex-direction: column;
        padding: 0 20vw;
        gap: 2rem;

        @media(min-width: var.$tablet-l ) {
            flex-direction: row;
        }
    }

    &__text {
        max-width: 21rem;
        min-width: 15rem;
        padding: 1rem 0;
        font-size: 1.3rem;

        @media(min-width: var.$tablet) {
            max-width: 50rem;
        }

        @media(min-width: var.$mobile) {
            max-width: 50rem;
        }
    }
}

.avatar {
    display: flex;
    width: 10rem;

    @media(min-width: var.$tablet) {
        width: 15rem;
    }
}

.logo-container {
    width: auto;
    text-align: -webkit-center;
}

.up {
    position: absolute;
    top: 0;
    padding: 3rem;
}

.main-logo {
    width: 16.5rem;
    padding: 2rem;
    margin: 0 auto;
    filter: brightness(87%);
}

.neonText {
    font-family: 'Dance Floor', sans-serif;
    color: #fff;
    font-size: 4.2vw;
    text-align: center;
    text-shadow:
        0 0 7px var.$yellow,
        0 0 10px var.$yellow,
        0 0 21px var.$yellow,
        0 0 42px var.$yellow,
        0 0 2px var.$yellow,
        0 0 2px var.$yellow,
        0 0 12px var.$yellow,
        0 0 51px var.$yellow;
    animation: animate 3s infinite alternate;

    @media(min-width: var.$tablet-l) {
        font-size: 2.7vw;
    }
}

.spotlight-header {
    position: relative;
    top: 2rem;
}

@keyframes animate {
    40% {
        opacity: 1;
    }

    42% {
        opacity: 0.8;
    }

    43% {
        opacity: 1;
    }

    45% {
        opacity: 0.3;
    }

    46% {
        opacity: 1;
    }
}

.spotlights {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

.to-top {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    color: var.$yellow;
    padding-top: 1.8em;
    font-size: 1rem;
    display: inline-block;
    /* or block */
    position: relative;
    color: var.$yellow;
    text-decoration: none;
    transition: all .3s ease-out;
}

.to-top:before {
    content: '▲';
    font-size: .9em;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.7em;
    border-radius: 10em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3em;
    transition: transform .5s ease-in;
}

.to-top:hover {
    color: var.$yellow;
    border-color: var.$yellow;
}

.to-top:hover:before {
    transform: rotate(360deg);
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.line-desktop {
    @media(min-width:var.$tablet-l) {
        position: fixed;
        background-color: var.$yellow;
        bottom: 2rem;
        height: 60vh;
        width: 1px;
        left: 1.5rem;
    }
}

.line-mobile {
    background-color: var.$yellow;
    top: 1.5rem;
    height: 1px;
    width: 60vw;
    position: fixed;
    left: 2rem;

    a:hover {
        color: red;
    }

    @media(min-width:var.$tablet-l) {
        display: none;
    }
}

.social-wrapper-mobile {
    position: fixed;
    top: 1rem;
    right: 6vw;
    display: flex;
    gap: 1rem;

    p {
        color: var.$yellow;
    }

    @media(min-width:var.$tablet-l) {
        display: none;
    }
}

.social-wrapper-tablet {
    display: none;

    @media(min-width:var.$tablet-l) {
        position: fixed;
        top: 5rem;
        right: 17vw;
        display: flex;
        gap: 1rem;

        p {
            color: var.$yellow;
        }
    }
}