@use "/src/scss/helpers/variables" as var;

.about {
    display: flex;
    padding: 1rem 8rem 0 8rem;
    background-color: var.$green;
    height: 70vh;
    color: var.$mustard;
    border-radius: 10rem;
    margin: 2rem;
    flex-direction: column;
    ;

    &__column {
        align-self: center;
        flex-direction: column;
    }

    &__row {
        display: flex;
        flex-direction: column;

        @media(min-width: var.$tablet-l ) {
            flex-direction: row;
        }
    }

    &__text {
        max-width: 21rem;
        min-width: 15rem;
        padding: 1rem;

        @media(min-width: var.$mobile) {
            max-width: 50rem;
        }
    }
}

.avatar {
    display: flex;

    @media(min-width: var.$tablet) {
        width: fit-content;
    }
}

.avatar-container {
    width: 100%;
    text-align: -webkit-center;
}

.up {
    position: absolute;
    top: 0;
    padding: 2rem;
}

.work {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.to-top {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    color: var.$green;
    padding-top: 1.8em;
    font-size: 1rem;
    display: inline-block;
    /* or block */
    position: relative;
    border-color: var.$green;
    text-decoration: none;
    transition: all .3s ease-out;
}

.to-top:before {
    content: '▲';
    font-size: .9em;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.7em;
    border: solid .13em var.$green;
    border-radius: 10em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3em;
    border-color: inherit;
    transition: transform .5s ease-in;
}

.to-top:hover {
    color: var.$mustard;
    border-color: var.$mustard;
}

.to-top:hover:before {
    transform: rotate(360deg);
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.line-desktop {
    @media(min-width:var.$tablet-l) {
        position: absolute;
        background-color: black;
        bottom: 2rem;
        height: 60vh;
        width: 1px;
        left: 1.5rem;
    }
}

.line-mobile {
    background-color: black;
    top: 1.5rem;
    height: 1px;
    width: 60vw;
    position: absolute;
    left: 2rem;

    a:hover {
        color: red;
    }

    @media(min-width:var.$tablet-l) {
        display: none;
    }
}

.social-wrapper-mobile {
    position: absolute;
    top: 1rem;
    right: 6vw;
    display: flex;
    gap: 1rem;

    p {
        color: black;

        &:hover {
            text-decoration: line-through;
        }
    }

    @media(min-width:var.$tablet-l) {
        display: none;
    }
}

.social-wrapper-desktop {
    display: none;

    @media(min-width:var.$tablet-l) {
        position: absolute;
        top: 6vh;
        left: 0;
        transform: rotate(-90deg);
        display: flex;
        gap: 1rem;

        p {
            color: black;

            &:hover {
                text-decoration: line-through;
            }
        }
    }

}